<div id="page-transocode-overlay" class="container">
  <% if flash[:notice] %>
  <div class="columns">
    <div class="column notification is-primary">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <div class="column has-text-right">
    <a class="button is-rounded is-primary is-light" href="/record?action=new&app=live">Record Input Stream</a>
  </div>
  <div class="columns">
    <div class="column">
      <table id="transcode-settings" class="table is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered"><abbr title="Input Name">Input Name</abbr></th>
            <th class="has-text-centered"><abbr title="Record Name">Record Name</abbr></th>
            <th class="has-text-centered"><abbr title="Record Status">Status</abbr></th>
            <th class="has-text-centered"><abbr title="Action">Action</abbr></th>
          </tr>
        </thead>
        <tbody id="record-tbody">
          <% @records.each do | record | %>
          <tr>
            <td class="has-text-centered"><a href="<%= "/input/live/#{record.input_name}" %>"><%= record.input_name %></a></td>
            <td class="has-text-centered"><%= record.name %></td>
            <td class="has-text-centered"><%= record.status %></td>
            <td class="has-text-centered"><a href="<%= "/record?action=edit&id=#{record.id}" %>">Edit</a> | <a href="<%= "/record/Stop?id=#{record.id}" %>">Stop</a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
