<div id="page-streamtarget" class="container">
  <% if flash[:notice] %>
  <div class="columns">
    <div class="column notification is-primary">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="columns">
    <div class="column notification is-danger">
      <button class="delete"></button>
      <%= flash[:alert] %>
    </div>
  </div>
  <% end %>
  <div class="columns">
    <div class="column">
      <h1>Stream Target</h1>
    </div>
    <div class="column has-text-right">
      <a class="button is-rounded is-primary is-light" href="/streamkey/new">Create New Stream Key</a>
    </div>
  </div>
  <table class="table is-fullwidth is-striped is-hoverable" class="columns">
    <thead>
      <tr>
        <th class="has-text-centered">App</th>
        <th class="has-text-centered">Stream Key</th>
        <th class="has-text-centered">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @streamkey.each do | stream | %>
      <tr>
        <td class="has-text-centered"><%= stream.app %></td>
        <td class="has-text-centered"><%= stream.key %></td>
        <td class="has-text-centered"><a href="/streamkey/remove?stream_key=<%= stream.key %>">Remove</a></td>
      <tr>     
      <% end %>
    </tbody>
  </table>
</div>
