<div id="page-streamtarget" class="container">
  <% if flash[:notice] %>
  <div class="columns">
    <div class="column notification is-primary">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="columns">
    <div class="column notification is-danger">
      <button class="delete"></button>
      <%= flash[:alert] %>
    </div>
  </div>
  <% end %>
  <div class="columns">
    <div class="column">
      <h1>Stream Target</h1>
    </div>
    <div class="column has-text-right">
      <a class="button is-rounded is-primary is-light" href="/stream/new">Create New Stream</a>
    </div>
  </div>
  <table class="table is-fullwidth is-striped is-hoverable" class="columns">
    <thead>
      <tr>
        <th class="has-text-centered">Input</th>
        <th class="has-text-centered">Transcode Output</th>
        <th class="has-text-centered">Profile Name</th>
        <th class="has-text-centered">Status</th>
        <th class="has-text-centered">Action</th>
      </tr>
    </thead>
    <tbody id="target_stream">
    <% @active_stream.each do | stream | %>
      <tr>
        <% if !stream.is_relay_from_input
        transcoded = @transcodes.where(:name => stream.input_name)[0] %>
        <td class="has-text-centered"><%= "<a href=\"/input/live/#{transcoded.input_name}\">#{transcoded.input_name}</a>" %></td>
        <td class="has-text-centered"><%= "<a href=\"/transcode/preview?id=#{transcoded.id}\">Preview</a>" %></td>
        <% else %>
        <td class="has-text-centered"><%= "<a href=\"/input/live/#{stream.input_name}\">#{stream.input_name}</a>" %></td>
        <td class="has-text-centered">Relay from Input</td>
        <% end %>
        <td class="has-text-centered"><%= stream.name %></td>
        <td class="has-text-centered"><%= stream.status %></td>
        <%
            action_buttons = [
                "<a href=\"/stream/edit?id=%s\">Edit</a>" % [stream.id], 
                "<a href=\"/stream/remove?id=%s\" onclick=\"return confirm('Are you sure want to remove the Stream?')\">Remove</a>" % [stream.id]
            ]

            if stream.status == "Streaming"
              action_buttons.push("<a href=\"/stream/stop?id=%s\" onclick=\"return confirm('Are you sure want to stop the Stream?')\">Stop</a>" % [stream.id])
            else
              action_buttons.push("<a href=\"/stream/reconnect?id=%s\" onclick=\"return confirm('Are you sure want to reconnect the Stream?')\">Reconnect</a>" % [stream.id])
            end
        %>
        <td class="has-text-centered"><%= action_buttons.join(" | ")  %></td>
      <tr>     
      <% end %>
    </tbody>
  </table>
</div>
