<div id="page-transocode-settings" class="container">
  <% if flash[:notice] %>
  <div class="columns">
    <div class="column notification is-primary">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="columns">
    <div class="column notification is-danger">
      <button class="delete"></button>
      <%= flash[:alert] %>
    </div>
  </div>
  <% end %>
  <div class="column has-text-right">
    <a class="button is-rounded is-primary is-light" href="/transcode/profile?action=new">Create New Transcode Profile</a>
  </div>
  <div class="columns">
    <div class="column">
      <table id="transcode-settings" class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered"><abbr title="Stream Name">Profile Name</abbr></th>
            <th class="has-text-centered"><abbr title="Stream Name">Quality</abbr></th>
            <th class="has-text-centered"><abbr title="Stream Name">Encoder</abbr></th>
            <th class="has-text-centered"><abbr title="Stream Name">Overlay</abbr></th>
            <th class="has-text-centered"><abbr title="Stream Name">Action</abbr></th>
          </tr>
        </thead>
        <tbody id="transcode-settings-tbody">
          <% @transcode_profile.each do | profile | %>
          <tr>
            <td class="has-text-centered"><%= profile.name %></td>
            <td class="has-text-centered"><%= profile.res_height %>p</td>
            <td class="has-text-centered"><%= profile.vcodec %></td>
            <% if profile.has_overlay %>
              <% @overlays.each do | overlay | %>
                <% if overlay.id == profile.overlay_id %>
            <td class="has-text-centered"><%= overlay.name %></td>
                <% end %>
              <% end %>
            <% else %>
            <td class="has-text-centered">No Overlay</td>
            <% end %>
            <td class="has-text-centered"><a href="<%= "/transcode/profile?action=edit&id=#{profile.id}" %>">Edit</a> | <a href="<%= "/transcode/profile/remove?id=#{profile.id}" %>">Remove</a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
