<script src="<%= "http://%s/js/modal.js" % request.env["HTTP_HOST"] %>"></script>
<script src="<%= "http://%s/js/vu_meter.js" % request.env["HTTP_HOST"] %>"></script>
<div id="page-preview-transcode" class="container">
  <div class="columns">
    <div class="column">
      <h1><b>Transcode Output Preview</b> - <%= @input_stream[:name] %></h1>
    </div>
  </div>
  <div class="columns">
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://cdn.jsdelivr.net/npm/video.js@7.15.4/dist/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flv.js@1.6.2/dist/flv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/videojs-flvjs@0.2.0/dist/videojs-flvjs.min.js"></script>
    <video
      autoplay
      id="input-preview"
      class="video-js"
      controls
      preload="auto"
      poster="/images/banner.jpeg"
      data-setup='{"fluid": true, "autoplay": true, "muted": true}'
    >
    <source  id="input-preview-source" src="<%= @input_stream[:url_flv] %>" type="video/x-flv" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
    <script>
      // For v5 the tech must be added to the tech order.
      // For v6 this is not needed.
      videojs('input-preview', {
        techOrder: ['html5', 'flvjs'],
        flvjs: {
          mediaDataSource: {
            isLive: true,
            cors: true,
            withCredentials: false,
          },
          // config: {},
        },
      });
    </script>
  </video>
  <canvas id='canvas' width="45" height="200"></canvas>
  </div>

  <div id="modal-window" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Playback URL's</p>
        <button id="modal-close" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <table class="table is-fullwidth is-striped is-hoverable" class="columns">
          <thead>
            <tr>
              <th class="has-text-centered">Type</th>
              <th class="has-text-centered">Playback URL</th>
            </tr>
          </thead>
          <tbody>
            <tr>     
              <td class="has-text-centered">RTMP</td>
              <td class="has-text-centered"><a href="<%= @input_stream[:url_rtmp] %>"><%= @input_stream[:url_rtmp] %></a></td>
            <tr>
            <tr>     
              <td class="has-text-centered">Apple HLS</td>
              <td class="has-text-centered"><a href="<%= @input_stream[:url_flv] %>" target="_blank"><%= @input_stream[:url_flv] %></a></td>
            <tr>
          </tbody>
        </table>
      </section>
      <footer class="modal-card-foot buttons is-right">
        <button class="button is-success">Done</button>
      </footer>
    </div>
  </div>

  <div class="columns">
    <div class="column has-text-left">
      <a class="button is-rounded is-warning is-dark" id="modal-open">View Playback URL's</a>
      <a class="button is-rounded is-success is-dark" href="<%= "/input/%s/%s" % [@transcode.app_name, @transcode.input_name] %>">Preview Input</a>
      <a class="button is-rounded is-primary is-light" href="<%= "/stream/new?input=%s&app=%s" % [ params[:name], params[:app]] %>">Add New Stream Target</a>
    </div>
  </div>

  <script src="https://vjs.zencdn.net/7.10.2/video.js"></script>
</div>

