<script src="<%= "http://%s/js/profile_form.js" % request.env["HTTP_HOST"] %>"></script>
<div id="page-transcode-profile-new" class="container">
  <div class="columns">
    <div class="column">
      <h1>Create New Transcode Profile</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <form action="<%= env['REQUEST_URI'] %>" accept-charset="UTF-8" data-remote="true" method="post">
        <div class="field">
          <label class="label">Profile Name</label>
          <div class="control">
            <input id="ProfileName" class="input" type="text" name="name" placeholder="Profile Name" required>
          </div>
        </div>
        <div class="field is-grouped">
          <label class="label">Output Resolution</label>
          <input id="ResWidth" class="input" type="text" name="width" placeholder="eg: 1920" required> x <input id="ResHeight" class="input" type="text" name="height" placeholder="eg: 1080" required>
        </div>

        <div class="field">
          <label class="label">Video Codec</label>
          <div class="control">
            <div class="select">
              <select id="VCodec" name="vcodec">
                <option value="libx264">H.264</option>
                <option value="h264_hevc">Nvidia NVEC</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Video Framerate</label>
          <div class="control">
            <div class="select">
              <select id="FPS" name="fps">
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="60">60</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Video Bitrate (in kbps)</label>
          <input id="VBitrate" class="input" type="text" name="vbitrate" placeholder="eg: 4000" required>
        </div>

        <div class="field">
          <label class="label">Audio Codec</label>
          <div class="control">
            <div class="select">
              <select id="ACodec" name="acodec">
                <option value="aac">AAC</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Audio Frequency</label>
          <div class="control">
            <div class="select">
              <select id="AFreq" name="afreq">
                <option value="44100">44.1 kHz</option>
                <option value="48000">48 kHz</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Audio Bitrate</label>
          <div class="control">
            <div class="select">
              <select id="ABitrate" name="abitrate">
                <option value="128">128 kBps</option>
                <option value="160">160 kBps</option>
                <option value="198">198 kBps</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Overlay</label>
          <div class="control">
            <div class="select">
              <select id="Overlay" name="overlay_id">
                <option value="none">--- Select ---</option>
                <% @overlays.each do | overlay |%>
                <option value="<%= overlay.id %>"><%= overlay.name %></option>
                <%end%>
              </select>
            </div>
          </div>

          <div id="OverlayOptions" class="optional-field">
            <div class="control">
              <label class="label">Overlay Mode</label>
              <div class="select">
                <select id="OverlayMode" name="overlay_mode">
                  <option value="stretched">Stretched</option>
                  <option value="center">Center</option>
                  <option value="absolute">Absolute</option>
                </select>
              </div>
            </div>

            <div id="OverlayPos" class="control">
              <label class="label">Overlay Position</label>
              <input id="OverlayPosX" class="input" type="text" name="overlay_pos_x" placeholder="X Position in Frame">
              <input id="OverlayPosY" class="input" type="text" name="overlay_pos_y" placeholder="Y Position in Frame">
            </div>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button class="button is-link is-light" onclick="history.back()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% if params['action'] == "edit" %>
<script>
$(document).ready(function() {
  var profile_data = <%= @profile_data %>;
  $('#ProfileName').val(profile_data.name);
  $('#ResWidth').val(profile_data.res_width);
  $('#ResHeight').val(profile_data.res_height);
  $('#VCodec').val(profile_data.vcodec);
  $('#FPS').val(profile_data.fps);
  $('#VBitrate').val(profile_data.vbitrate);
  $('#ACodec').val(profile_data.acodec);
  $('#AFreq').val(profile_data.afreq);
  $('#ABitrate').val(profile_data.abitrate);

  if (profile_data.has_overlay) {
    $('#Overlay').val(profile_data.overlay_id);
    $('#OverlayMode').val(profile_data.overlay_mode);
  } else {
    $('#Overlay').val("none");
  }

  $('#OverlayMode').val(profile_data.overlay_mode);
  $('#OverlayPosX').val(profile_data.overlay_pos_x);
  $('#OverlayPosY').val(profile_data.overlay_pos_y);

  $("#Overlay").trigger("change");
  $("#OverlayMode").trigger("change");
});
</script>
<% end %>