<div id="page-streamtarget" class="container">
  <% if flash[:notice] %>
  <div class="columns">
    <div class="column notification is-primary">
      <button class="delete"></button>
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="columns">
    <div class="column notification is-danger">
      <button class="delete"></button>
      <%= flash[:alert] %>
    </div>
  </div>
  <% end %>
  <div class="columns">
    <div class="column">
      <h1>Dashboard User</h1>
    </div>
    <div class="column has-text-right">
      <a class="button is-rounded is-primary is-light" href="/user/new">Add New User</a>
    </div>
  </div>
  <table class="table is-fullwidth is-striped is-hoverable" class="columns">
    <thead>
      <tr>
        <th class="has-text-centered">Full Name</th>
        <th class="has-text-centered">User Name</th>
        <th class="has-text-centered">Action</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do | user | %>
      <tr>
        <td class="has-text-centered"><%= user.name %></td>
        <td class="has-text-centered"><%= user.full_name %></td>
        <td class="has-text-centered"><a href="/user/remove?id=<%= user.id %>">Remove</a></td>
      <tr>     
      <% end %>
    </tbody>
  </table>
</div>
